{{log data}}
{{!-- {{data.name}} --}}
"hello"
{{#each data.people as |value key|}}
<p>{{key}}: {{value}}</p>
{{/each}}
{{!-- {{barbaz}} --}}
{{!-- Goodbye {{data/[@alan]/expression}} world!
{{#data.goodbyes}}{{this}}{{/data.goodbyes}}
{{#data.hellos}}{{this/text}}{{/data.hellos}}
<h1>foo</h1> --}}

{{#"data.barbaz"}}{{.}}{{/"data.barbaz"}}
{{!-- <h1>{{data/[12.34]}}</h1>

{{data/[false]}}

{{#each data.lists as |xValue xKey|}}
{{#each xValue.items as |yValue yKey|}}
<p>{{yValue}}</p>
{{/each}}
{{/each}}> --}}


{{#with data/[frank]}}{{../data.awesome .}}{{/with}}
<h1>wow</h1>
{{#data.goodbyes}}{{../data.name}}{{../data.name}}{{/data.goodbyes}}
<h1>shit</h1>
{{#data.outer}}Goodbye {{#inner}}cruel
{{../sibling}}{{/inner}}{{/data.outer}}
<br />
{{#data.invert}}{{this.text}}{{/data.invert}}{{^data.invert}}Right
On!{{/data.invert}}

<br />
{{#data.data}}\n{{#if
true}}\n{{.}}\n{{/if}}\n{{/data.data}}\nOK

<br />
{{#with data.person as |foo|}}{{foo.first}}
{{foo.last}}{{/with}}
{{#each data.goodbyes}}{{@index}}. {{text}}!
{{/each}}cruel {{world}}

{{#each data.index}}{{#if @first}}{{text}}!
{{/if}}{{/each}}cruel {{world}}

<br />
{{!-- {{#each data.index}}
{{@key}}key
({{#if
@first}}{{text}}!
{{/if}} --}}
{{!-- {{#if @last}}
<h3> @last {{text}}></h3>
{{/if}} --}}
{{!-- {{#each ../data.goodbyes}}{{#if
@first}}{{text}}!{{/if}}{{/each}}{{#if
@first}} {{text}}!{{/if}}) {{/each}}cruel
{{world}}! --}}

{{!-- <h1>{{@yooo}}</h1> --}}
{{!-- {{@yooo/noway}} --}}

{{!-- const helpers =
require('handlebars-helpers')();
module.exports = {
helpers: helpers,
testHelper: function(parameter) {
return "yo " + parameter
}
} --}}

{{!-- {{#helpers.eachIndex data.goodbyes}}
{{item}} {{index}}
{{/eachIndex}} --}}

{{!-- {{#testHelper data.frank}}
{{this}}
{{/testHelper}} --}}

{{!-- <h1> {{@bar}}</h1> --}}

{{!-- {{@sibling}} --}}
{{!-- 
Dudes: {{#each data.dudes}}
each dude hiiii
{{@index}}
{{> playground3}}
{{/each}} --}}

{{!-- {{> partialInPartial=..}} --}}

{{> playground3 frank=data.frank}}


{{> dude}}
HI

{{!-- res.render("contact", {
people: ["James", "Peter", "Roy", "Raj"],
user: {
username: "Josphe Jostar",
age: 40,
phone: 9999999999,
},
lists: [
{
items: ["Orange", "Apple", "Pineapple"],
},
{
items: ["Coke", "Pepsi", "Sprite"],
},
],
}); --}}


<h4>lists</h4>
{{#each data.lists}}
{{> list this}}
{{/each}}

{{!-- then in the partial
{{this.movieName}} --}}

<hr>

{{#each user as |value key|}}
<p>{{key}}: {{value}}</p>
{{/each}}

{{!-- <hr> --}}



<hr>
<h1>lookup</h1>

<p>{{lookup people 2}}</p>
<p>{{lookup people 0}}</p>

{{#unless isListEnabled}}
<ul>
    <li>Home</li>
    <li>About</li>
    <li>Donate</li>
</ul>
{{/unless}}

{{#with person as |x|}}
<p>My name is</p>
<h2>{{x.first}}</h2>
<h2>{{x.last}}</h2>
{{/with}}


{{#if data.frank}}
<button>My name is {{ name }}</button>
{{else}}
<p>No name found</p>
{{/if}}
{{#if data.frank}}
<p>Age : {{age}}</p>
{{else}}
<p>No age provided</p>
{{/if}}

